---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>

<div class = "newsletter-container">
  <h4 class = "newsletter-title">Idealist Matthew's Newsletter</h4>

  <form style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://feedburner.google.com/fb/a/mailverify"
  method="post" target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=idealistmatthewswebsite', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p class = "newsletter-text">Enter your email address to subscribe  :</p>
    <p><input class="newsletter-email" type="text" name="email" placeholder="name@example.com"/>
    </p><input type="hidden" value="idealistmatthewswebsite" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <input class ="newsletter-submit" type="submit" value="Subscribe" />
  </form>
</div>
