---
layout: page
type: article
---

{%- include snippets/assign.html
  target = site.data.variables.default.page.sharing
  source0=layout.sharing source1=page.sharing -%}
{%- assign _sharing = __return -%}

<div class="layout--article">
  {%- include article/top/custom.html -%}

  <div class="article__content" itemprop="articleBody">{{ content }}</div>

  {%- if _sharing -%}
    <section class="article__sharing d-print-none">{%- include sharing.html -%}</section>
  {%- endif -%}

  <div class="d-print-none">
    {%- include article-footer.html -%}
    {%- include article-section-navigator.html -%}
  </div>

</div>

<script>
  {%- include scripts/article.js -%}
</script>

<div class = "newsletter-container">
  <h4 class = "newsletter-title">Idealist Matthew's Newsletter</h4>

  <form style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://app.nouri.sh/campaigns/7332/subscribe"
  method="post" target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=idealistmatthewswebsite', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <input type="hidden" name="redirect_to" value="https://idealistmatthew.github.io/"/>
  <input type="hidden" name="notify_me" value="1"/>
  <input type="hidden" name="notify_them" value="1"/>

  <label>Enter your email here:</label><br />
  <input id="subscriber[email]" name="subscriber[email]" type="text" /><br />
  <input name="commit" type="submit" value="Subscribe" />
  </form>
</div>
